<h1>Listing messages</h1>
<%= render 'form' %>
<table>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.created_at.localtime.strftime('%H:%M') %></td>
    <td><%= message.content %></td>
  </tr>
<% end %>
</table>
