require("./application")
require("jquery-ui-bundle")
require("jquery-ui-touch-punch")
require("./bootstrap")

var drag_item_state = {
  current: {
    id: undefined,
    x: undefined,
    y: undefined
  },
  last: {
    id: undefined,
    x: undefined,
    y: undefined
  }
};
function update_item_state(id, x, y) {
  drag_item_state.current.id = id;
  drag_item_state.current.x = x;
  drag_item_state.current.y = y;
}

$(function(){
  $('form.new_message')
    .on('ajax:beforeSend', function(event) {
      $(this).find("#message_content").prop("disabled", true);
    })
    .on('ajax:success', function() {
      $(this).find("#message_content").val("");
    })
    .on('ajax:complete', function() {
      $(this).find("#message_content").prop("disabled", false);
    });
  if ($('.messages').length > 0) {

    var pusher = new Pusher('<%= Pusher.key %>');

    var pusher_connection_status = "initialized";
    pusher.connection.bind('connected', function() {
      if (pusher_connection_status == "disconnected") {
        refresh_channel();
      }
      pusher_connection_status = "connected";
      set_connection_status(true);
    });
    pusher.connection.bind('disconnected', function() {
      pusher_connection_status = "disconnected";
      set_connection_status(false);
    });
    pusher.connection.bind('unavailable', function() {
      pusher_connection_status = "disconnected";
      set_connection_status(false);
    });

    var channel = pusher.subscribe($('.messages').data('channel'));
    channel.bind('pusher:subscription_succeeded', function(members) {
      members.each(function(member) {
        add_member(member.id, member.info);
      });
    });
    channel.bind('pusher:member_added', function(member) {
      add_member(member.id, member.info);
    });
    channel.bind('pusher:member_removed', function(member) {
      remove_member(member.id, member.info);
    });
    channel.bind('message_added', function(data) {
      var $message = $('<li><span class="time"> ' + data.time +
        ' </span><span class="username' +
        ($('#my_name').text() == data.message.user_name ? ' myself' : '') +
        '"> (' + data.message.user_name + ') </span><span class="content"> ' +
         data.message.content + ' </span></li>').hide();
      $('ul.messages').prepend($message);
      $message.fadeIn();
      if ($('#my_name').text() != data.message.user_name) {
        webkit_notifications(data.message.user_name, data.message.content);
      }
    });
    channel.bind('item_move', show_item);
    channel.bind('client-item_drag', item_move);

    /* class名に"draggable"を持つオブジェクトをドラッグ可能にする */
    var $draggable = $('.draggable');
    $draggable.draggable({
      /* ドラッグ可能範囲はid名"table_area"内のみ */
      containment: '#table_area',
      drag: function(e, ui) {
        update_item_state(ui.helper.data('item-id'), ui.position.left, ui.position.top);
        $(".active").removeClass("active");
        ui.helper.addClass("active");
        $('.ui-draggable-dragging').fadeTo(1, 0.6);
      }
    });
    if ($draggable.length > 0) {
      setInterval(function(){
        if(drag_item_state.current.id !== drag_item_state.last.id ||
            drag_item_state.current.x !== drag_item_state.last.x ||
            drag_item_state.current.y !== drag_item_state.last.y){
          drag_item_state.last.id = drag_item_state.current.id;
          drag_item_state.last.x = drag_item_state.current.x;
          drag_item_state.last.y = drag_item_state.current.y;

          var $item = $("img[data-item-id='"+drag_item_state.last.id+"']");
          var original_item_position = toggle_item_position($item);
          channel.trigger('client-item_drag', {
            user_id: channel.members.me.id,
            item_id: drag_item_state.last.id,
            position: original_item_position,
            latest_moving_user_name: $('#my_name').text()
          });
        }
      }, 300);
    }
    $('#table_area').droppable({
      accept: '.draggable',
        drop: function(e, ui) {
          var dropItem = ui.draggable;
          var itemId = dropItem.data('item-id');
          var original_position = toggle_item_position(dropItem);
          $.ajax({type: "POST", url: "/items/" + itemId + "/event/move",
                  data: {position_x: original_position.left, position_y: original_position.top, latest_moving_user_name: $('#my_name').text()}});
          set_label(itemId, $('#my_name').text(), ui.position.top, ui.position.left);
          $('.ui-draggable-dragging').fadeTo(1, 1);
          $('#go_sound').get(0).play();
        }
    });
    /* 縦スクロール禁止 */
    $(".draggable").bind("touchmove", function() {
      event.preventDefault();
    });
  }
  check_webkit_notifications();
  if ($('#table_area').length>0) { initialize_table_upside(); initialize_sound_onoff();}
  channelname_editor();
});


function show_item(data) {
  item_move(data);
  $(".draggable[data-item-id='" + data.item_id + "']").fadeTo(1, 1);
  $('#go_sound').get(0).play();
}

function item_move(data) {
  var my_user_id = $("ul.members>li.myself").data("member-id");
  if (data.user_id != my_user_id) {
    var $item = $(".draggable[data-item-id='" + data.item_id + "']");
    var showing_item_position = toggle_position($item, data.position.top, data.position.left);
    $(".active").removeClass("active");
    $item.addClass('active');
    $item.animate({
        top: showing_item_position.top + 'px',
        left: showing_item_position.left + 'px'
    }, {
      duration: 300
    });
    set_label(data.item_id, data.latest_moving_user_name, showing_item_position.top, showing_item_position.left);
    $item.fadeTo(1, 0.6);
  }
}

function set_label(id, name, top, left) {
    var set_position = {
        top: top + 'px',
        left: left + 30 + 'px'
    };
    var $set_label_item = $(".draggable[data-item-id='" + id + "']");
    var $set_label_item_next = $set_label_item.next();
    if ($set_label_item_next.hasClass('label') && $set_label_item_next.text() == name) {
      var $label = $set_label_item_next;
      $label.animate(set_position, {
        duration: 300
      });
    } else {
      $(".label").remove();
      $set_label_item.after("<div class='label label-default'>" + name + "</div>");
      $(".label").css(set_position);
    }
}

function set_connection_status(is_online) {
  var $connection_status = $(".connection_status .status");
  if (is_online) {
      $connection_status.removeClass("offline").addClass("online");
      $connection_status.text("オンライン");
  } else {
      $connection_status.removeClass("online").addClass("offline");
      $connection_status.text("オフライン");
      $("ul.members").children().remove();
  }
}

function check_webkit_notifications() {
  if(typeof window.webkitNotifications == 'undefined'){return;}
  var permission = webkitNotifications.checkPermission();
  if (permission != 0) {
    var $button = $('<input type="button" class="btn btn-small" value="デスクトップへの通知を許可" id="webkit_notifications_button">');
    $('p.logout').append($button);

    $('#webkit_notifications_button').bind('click', function(e){
      webkitNotifications.requestPermission();
    });
  }
}

function webkit_notifications(user_name, content) {
  if(typeof window.webkitNotifications == 'undefined'){return;}
  var permission = webkitNotifications.checkPermission();
  switch(permission){
    case 0:
      var notification = webkitNotifications.createNotification('', user_name, content);
      var notification_display_time = 10* 1000;
      notification.ondisplay = function(){
        setTimeout(function(){
          notification.cancel();
        }, notification_display_time);
      };
      notification.show();
      break;
    case 1:
      webkitNotifications.requestPermission();
      break;
    case 2:
      break;
  }
}

var table_upside = 'up';
function initialize_table_upside() {
  var $current_channel = $('.channels .here');
  if ($current_channel.length>0) {
    var channel_id = $current_channel.data('channel-id');
    var tu = localStorage.getItem('channel-'+channel_id+'-table-upside');
    if (tu) {
      if(tu === 'down') { setTimeout(function(){toggle_table_upside();}, 300); }
    }
    var $upside_button = $('<button class="btn btn-default btn-sm" id="table_upside">テーブル回転</button>');
    $('p.logout').append($upside_button);
    $upside_button.click(toggle_table_upside);
  }
}
function toggle_table_upside() {
  var $table_area = $('#table_area');
  var table_width = $table_area.width();
  var table_height = $table_area.height();
  var $table_area_images = $('#table_area img');
  var $items = $table_area_images.filter('.draggable');
  if (table_upside === 'up') {
    table_upside = 'down';
    $table_area_images.css('transform', 'rotate(180deg)');
  } else {
    table_upside = 'up';
    $table_area_images.css('transform', 'rotate(0deg)');
  }
  toggle_item_upside($items, table_width, table_height);
  localStorage.setItem('channel-'+$('.channels .here').data('channel-id')+'-table-upside', table_upside);
}
function toggle_item_upside($items, table_width, table_height) {
  $items.each(function() {
    var $item = $(this);
    var item_width = $item.width();
    var item_height = $item.height();
    var item_top = parseInt($item.css('top'));
    var item_left = parseInt($item.css('left')); 
    var top = table_height - item_top - item_height;
    var left = table_width - item_left - item_width;
    $item.animate({
      top: top + 'px',
      left: left + 'px'
    });
  });
  var $label = $('.label');
  if ($label.length>0) {
    var $label_item = $label.prev();
    var label_item_id = $label_item.data('item-id');
    var item_width = $label_item.width();
    var item_height = $label_item.height();
    var item_top = parseInt($label_item.css('top'));
    var item_left = parseInt($label_item.css('left')); 
    var top = table_height - item_top - item_height;
    var left = table_width - item_left - item_width;
    set_label(label_item_id, $label.text(), top, left);
  }
}
function toggle_item_position($item) {
  return toggle_position($item, parseInt($item.css('top')), parseInt($item.css('left')));
}
function toggle_position($item, top, left) {
  var $table_area = $('#table_area');
  var table = {
    width: $table_area.width(),
    height: $table_area.height()
  };
  var item = {
    width: $item.width(),
    height: $item.height(),
  };
  var tp = {
    top: 0,
    left: 0
  };
  if (table_upside === 'up') {
    tp.top = top;
    tp.left = left;
  } else {
    tp.top = table.height - top - item.height;
    tp.left = table.width - left - item.width;
  }
  return tp;
}

var state_go_sound = 'on';
function initialize_sound_onoff() {
  var sound_onoff_str, class_str, $onoff_button;
  if (state_go_sound == 'off') {
    sound_onoff_str = "sound on";
  } else {
    sound_onoff_str = "sound off ";
  }
  $onoff_button = $('<button class="btn btn-default btn-sm" id="sound_onoff" onclick="change_soundonoff(this)"> ' + sound_onoff_str + '</button>');
  $('p.logout').append($onoff_button);
}
function change_soundonoff(item) {
  var s = $('#go_sound').get(0);
  if (state_go_sound == 'off') {
    s.muted = false;
    state_go_sound = 'on';
    item.textContent = "sound off";
  } else {
    s.muted = true;
    state_go_sound = 'off';
    item.textContent = "sound on";
  }
}

function refresh_channel() {
  $("ul.members").children().remove();
  $.getJSON(window.location.pathname+".json", function (json) {
    refresh_messages(json.messages);
    refresh_table(json.table);
  });
}

function refresh_messages(messages) {
    if (messages) {
      var $messages = $("ul.messages");
      $messages.children().remove();
      for (var i=0; i<messages.length; i++) {
        var message = messages[i];
        var d = new Date(message.updated_at);
        var message_date_hour = (d.getHours() < 10 ? '0' : '') + d.getHours();
        var message_date_minites = (d.getMinutes() < 10 ? '0' : '') + d.getMinutes();
        var message_date = message_date_hour + ":" + message_date_minites;
        var is_message_mine = ($('#my_name').text() == message.user_name ? true : false);
        var username_class = "username" + (is_message_mine ? " myself" : "");
        var message_content = message.content.replace(/(https?:\/\/[\x21-\x7e]+)/gi, "<a href='$1' target='_blank'>$1</a>");
        $messages.append('<li><span class="time">'+message_date+'</span><span class="'+username_class+'">('+message.user_name+')</span><span class="content">'+message_content+'</span></li>');
      }
    }
}

function refresh_table(table) {
  if (!table || !table.items) { return; }
  var items = table.items;
  for (var i=0; i<items.length; i++) {
    var item = items[i];
    var $item = $("img[data-item-id="+item.id+"]");
    var showing_item_position = toggle_position($item, item.position_y, item.position_x);
    $item.animate({
      top: showing_item_position.top+"px",
      left: showing_item_position.left+"px"
    });
  }
  var latest_moving_item = table.latest_moving_item;
  if (latest_moving_item) {
    var showing_item_position = toggle_position($("img[data-item-id="+latest_moving_item.id+"]"), latest_moving_item.position_y, latest_moving_item.position_x);
    set_label(latest_moving_item.id, latest_moving_item.latest_moving_user_name, showing_item_position.top, showing_item_position.left);
  }
}

function add_member(member_id, member_info) {
  var $members = $('.members');
  if ($members.find("li[data-member-id='"+member_id+"']").length > 0) { return; }
  var $member = $('<li>' + member_info.name + '</li>');
  $member.attr('data-member-id', member_id);
  if ($('#my_name').text() == member_info.name) {
    $member.addClass('myself');
  }
  $members.append($member);
  var $members_li = $members.find('li');
  $members.html($members_li.sort(function(a,b) {
    return $(a).text() < $(b).text() ? -1 : 1;
  }));
}
function remove_member(member_id, member_info) {
  var $members = $('.members li');
  $members.each(function() {
    var $member = $(this);
    if ($member.text() == member_info.name) {
      $member.remove();
    }
  });
}

function channelname_editor(){
  var $channel_name= $('#channel_name')
  var $channel_name_static = $('#channel_name_static')
  var $channel_name_edit = $('#channel_name_edit')
  $channel_name_static.on('click', function() {
    $(this).css('display', 'none');
    $channel_name.val($('#channel_name_static').text());
    $channel_name_edit.css('display', 'inline');
    setTimeout(function() {
      $channel_name.focus();
    }, 0);
  });
  $channel_name_edit.on('focusout', function() {
    var channel_id = $('.channels .here').data('channel-id');
    $('#edit_channel_'+channel_id).submit();
  });

}
