$('form.new_message').on('ajax:success', function(){
  $(this).find("#message_content").val("");
});
$(function(){
  if ($('.messages').size() > 0) {

    var pusher = new Pusher('<%= Pusher.key %>');

    var pusher_connection_status = "initialized";
    pusher.connection.bind('connected', function() {
      if (pusher_connection_status == "disconnected") {
        location.reload();
      }
      pusher_connection_status = "connected";
    });
    pusher.connection.bind('disconnected', function() {
      pusher_connection_status = "disconnected";
    });
    pusher.connection.bind('unavailable', function() {
      pusher_connection_status = "disconnected";
    });

    var channel = pusher.subscribe($('.messages').data('channel'));
    channel.bind('message_added', function(data) {
      var $message = $('<li><span class="time"> ' + data.time +
        ' </span><span class="username' +
        ($('#my_name').text() == data.message.user_name ? ' myself' : '') +
        '"> (' + data.message.user_name + ') </span><span class="content"> ' +
         data.message.content + ' </span></li>').hide();
      $('ul.messages').prepend($message);
      $message.fadeIn();
      resizeGraffiti();
    });
  }

  if ($('#graffiti').size() > 0) {
    $(window).bind("resize", resizeGraffiti);
    resizeGraffiti()
  }
});

function resizeGraffiti(){
  var messages_height = $(".messages").height();
  var messages_width = $(".messages").width();
  $('#graffiti').attr("height",messages_height);
  $('#graffiti').attr("width",messages_width);
  $('#graffiti').sketch();
}