.channels {
  list-style: none;
  margin-left: 0;
  word-break: break-all;
}
.channel_list {
  padding: 12px;
}
.channel_name.here {
  font-weight: bold;
  list-style-type: disc;
}

.connection_status {
  margin: 0;
  padding: 0;
  h3, .status {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
  }
  h3 {
    margin-right: 4px;
  }
  .status {
    &.offline {
      color: rgb(247, 109, 143);
    }
    &.online {
      color: rgb(14, 182, 88);
    }
  }
}
.label,
.label-info {
  position: absolute;
  z-index: 200;
}
.chat_user, .local_chat_user {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  &.audio {
    background-color: #f6f6ff;
    border: solid 1px #e0e0ff;
    img {
      padding-top: 18px;
    }
  }
  p.user_name {
    position: absolute;
    bottom: 1px;
    right: 1px;
    margin: 0;
    font-size: 12px;
  }
}
#local, .chat_user video, .chat_user audio {
  width: 150px;
  height: 150px;
  display: inline-block;
}
#remote {
  display: inline-block;
  vertical-align: top;
}
#pickup {
  margin-top: 10px;
  .chat_user, .chat_user video, .chat_user audio {
    width: 640px;
    height: 480px;
    &.video .user_name {
      bottom: 0;
      right: 0;
      padding: 4px 8px;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
    }
    &.audio .user_name {
      padding: 4px 6px;
    }
  }
}
