.new_message {
  margin-bottom: -8px;
}
.messages {
  list-style: none;
  margin-left: 0;
  margin-bottom: 16px;
  display: inline-block;
  word-break: break-all;
  .time {
    color: #a3764f;
  }
  .time, .username {
    padding-right: 2px;
  }
  .username {
    color: blue;
  }
  .username.myself {
    color: gray;
  }
}
