.new_message {
  margin-bottom: -8px;
}
.messages {
  list-style: none;
  margin-left: 0;
  margin-bottom: 16px;
  display: inline-block;
  word-break: break-all;
  .time {
    color: #a3764f;
  }
  .time, .username {
    padding-right: 2px;
  }
  .username {
    color: blue;
  }
  .username.myself {
    color: gray;
  }
}
.members {
  margin: 0;
  padding: 12px;
  border: solid 1px #eee;
  li {
    list-style: none;
    color: blue;
  }
  li.myself {
    color: gray;
  }
}
#graffiti {
  position: absolute;
  top: 0;
  right: 0;
}
#tools a {
  border: 1px solid black;
  color: black;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}