.new_message {
  margin-bottom: -8px;
}
.messages {
  list-style: none;
  margin-left: 0;
  margin-bottom: 16px;
  display: inline-block;
  word-break: break-all;
  .time {
    color: #a3764f;
  }
  .time, .username {
    padding-right: 2px;
  }
  .username {
    color: blue;
  }
  .username.myself {
    color: gray;
  }
}
.members {
  margin: 0;
  padding: 12px;
  border: solid 1px #eee;
  li {
    list-style: none;
    color: blue;
  }
  li.myself {
    color: gray;
  }
}
.go {
  &.col-md-9 {
    min-width: 700px;
    margin-bottom: 12px;
    padding-right: 0;
  }
  &.col-md-3{
    padding-left: 0;
  }
}

.active {
  z-index: 100;
}
