.new_message {
  margin-bottom: -8px;
}
.messages {
  list-style: none;
  margin-left: 0;
  margin-bottom: 16px;
  display: inline-block;
  word-break: break-all;
  position: relative;
  width: 100%;
  .time {
    color: #a3764f;
  }
  .time, .username {
    padding-right: 2px;
  }
  .username {
    color: blue;
  }
  .username.myself {
    color: gray;
  }
}
#graffiti {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cccccc;
}